body {
	font-family: Arial, sans-serif;
	background-color: #F4A4D4;
	margin: 0;
	padding: 0;
}

header {
	background-color: #E8839E;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
}

main {
	margin: 20px;
}

section {
	margin: 40px 0;
}

h2 {
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
}

.social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.social-icons a {
	display: inline-block;
	position: relative;
	margin: 20px;
}

.social-icons img {
	width: 100px;
	height: 100px;
	transition: transform 0.2s ease-in-out;
}

.social-icons span {
	display: none;
	position: absolute;
	top: -50px;
	left: -50px;
	background-color: #FFFFFF;
	color: #454545;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: opacity 0.2s ease-in-out;
}

.social-icons a:hover img {
	transform: translateY(-10px);
}

.social-icons a:hover span {
	display: block;
	opacity: 1;
}
